    <div ng-if="noService" ng-include src="'/templates/unavailable.html'"></div>

    <div class="row">
      <div class="col text-center">
        <div class="button-bar">
          <button class="button button-outline">X</button>
          <button class="button button-balanced">{{axel.X}}</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <div class="button-bar">
          <button class="button button-outline">Y</button>
          <button class="button button-balanced">{{axel.Y}}</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <div class="button-bar">
          <button class="button button-outline">Z</button>
          <button class="button button-balanced">{{axel.Z}}</button>
        </div>
      </div>
    </div>
