<ion-view>
  <ion-nav-title>
    <img class="logo" src="img/logo-top.png">
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <div class="card">
        <div class="item item-divider">
          About Faas
        </div>
        <div class="item item-text-wrap">
          Faas is the quickest way for you to securely publish web APIs on your Intel Edison module. You get the simplicity of Dropbox™ for your APIs. Simply put your code in "my-apis" folder, and call the public sub-routines from anywhere in the world, via a secure pipeline.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          About this App
        </div>
        <div class="item item-text-wrap">
          This app demonstrates the capabilities of Faas on Intel Edison Module. Here are the steps to get started:
          <div ng-include="'templates/steps.html'" include-replace></div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
